#!/usr/bin/env bash
# -*- coding: utf-8 -*-

PYTHON=`which {{ python }}`
ROOT="$( command cd "$( dirname "${BASH_SOURCE[0]}" )" && pwd )"
BIN=$ROOT/bin
SRC=$ROOT/src
CONFIG=$ROOT/config
VENV_NAME={{ venv_name }}
VENV=$ROOT/$VENV_NAME

# Create the actual virtualenv
if [ ! -d $VENV ]; then
    echo "Creating virtual env..."
    virtualenv -p {{ python }} $VENV_NAME
fi

# Add to path only if absent
echo $PYTHONPATH | grep -q $SRC \
    || export PYTHONPATH=$SRC:$PYTHONPATH
echo $PATH | grep -q $BIN \
    || export PATH=$BIN:$PATH

if [[ "$VIRTUAL_ENV" != "$VENV" ]]; then
  echo "Switching to environment: $VENV"
  which deactivate > /dev/null 2>&1 && deactivate
  source $VENV/bin/activate

  # Let us know what our env is
  echo
  echo
  echo "PATH          : $PATH"
  echo "PYTHONPATH    : $PYTHONPATH"
  echo "PYTHONSTARTUP : $PYTHONSTARTUP"
  echo "VIRTUAL_ENV   : $VIRTUAL_ENV"
  echo
  echo "Virtualenv at $VENV"
  echo "Python     at `which python`"
  echo "Pip        at `which pip`"
  echo
fi
